{{template "component/header" .}}
<div class="container">
  <h1 align="center" class="p-5">List Menu</h1>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        {{ range .Menu }}
        <div class="col-md-6 mb-3">
          <div class="card">
            <img
              src="/public/img/{{ .Foto }}"
              class="card-img-top"
              style="height: 160px; object-fit: cover"
              alt="..."
            />
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <h5 class="card-title">Rp. {{ .Price }}</h5>
                  <p class="card-text">
                    <span class="text-muted">{{ .Name }}</span>
                  </p>
                </div>
                <div class="col-6">
                  <div class="order">
                    <input type="number" min="1" value="1" class="w-50 p-0" />
                    <button
                      class="btn btn-sm btn-success"
                      onclick="addCart({{ .ID }}, parseInt(this.parentNode.querySelector('input').value))"
                      style="margin-top: -5px"
                    >
                      Pesan
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5>Pesanan</h5>
          <div class="row" id="cart">
            <span>Silahkan Pilih Menu</span>
          </div>
          <button
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            class="btn btn-sm btn-danger mt-2"
            style="display: none"
            id="checkout"
          >
            Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Checkout Pesanan</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="/checkout" method="POST">
        <div class="modal-body">
          <div class="row" id="detail-checkout"></div>
          <select class="form-control mt-3" name="payment">
            {{ range .Payement }}
            <option value="{{ .ID }}">{{ .Name }}</option>
            {{ end }}
          </select>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Bayar</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{template "component/footer" .}}
